{% extends "base.html" %}

{% block head %}
	{# Since the background image is declared in the CSS, we can improve
	loading times by instructing the browser to start loading the image
	*before* it has even parsed the CSS. #}
	<link rel="preload" as="image" href="/static/hero.jpeg">
	<link rel="stylesheet" href="/static/index.css">
{% endblock %}

{% block content %}
	<div class="hero">
		<h1 class="hero__title">Blind</h1>
		<p class="hero__subtitle">An epic guild for epic gamers</p>
	</div>

	<div class="achievements">
		<div class="achievements__item">
			<span class="achievements__item__number">#1</span>
			<span class="achievements__item__text">...at raiding</span>
		</div>
		<div class="achievements__item">
			<span class="achievements__item__number">9,398,988</span>
			<span class="achievements__item__text">...coins</span>
		</div>
		<div class="achievements__item">
			<span class="achievements__item__number">1 morbillion</span>
			<span class="achievements__item__text">...monsters slain</span>
		</div>
	</div>

	{# TODO: Add a series of boxes, each either an image or some text
	describing the guild. We will create two columns and have a kind of
	asymmetric layout where the two columns don't line up row-wise. #}
{% endblock %}

