{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" href="/styles/join_common.css">
{% endblock %}

{% block content %}
	<h1>Joining the Blind Guild</h1>
	<p>
		So you want to join the Blind Guild.
		Be warned,
		we are a very exclusive club
		and we aren't actively seeking new members.
		However, if you're a skilled player
		and feel like you could help elevate the Blind Guild,
		feel free to send us an application!
	</p>
	<p>
		In order to sync up, we'll need you to connect your battle.net account.
		Click the button below to sign in with your account.
		Then you'll be taken to the application form.
	</p>
	<a class="button" href="/battle">Sign in</a>
{% endblock %}
