{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" href="/styles/join_common.css">
{% endblock %}

{% block content %}
	<h1>Application recieved</h1>
	<p>
		Your application was submitted successfully!
		We'll review it and decide if you're cool enough to join our exclusive club.
		Please note that it may take a few days for us to get to your application.
	</p>
	<p>
		If you're accepted into our elite gang of high-tier gamers,
		you'll receive an in-game invite to the Blind Guild.
	</p>
{% endblock %}
