{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" href="/styles/join_common.css">
{% endblock %}

{% block content %}
	<h1>Joining the Blind Guild</h1>
	<p>
		So you want to join the Blind Guild.
		Be warned,
		we are a very exclusive club
		and we aren't actively seeking new members.
		However, if you're a skilled player
		and feel like you could help elevate the Blind Guild,
		feel free to send us an application!
	</p>
	<p>
		Click the button below to go to the form
		where you can submit your application.
	</p>
	<a class="button" href="/join_form.html">Apply</a>
{% endblock %}
