{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" href="/styles/leaderboards.css">
{% endblock %}

{% block content %}
	<div class="intro">
		<h1>Leaderboard</h1>
		<p>See who is the most 1337 guild member!</p>
	</div>
	<table class="leaderboard" cellspacing="0">
		<thead>
			<tr>
				<th>Character name</th>
				<th>Time in guild</th>
				<th>Ranking</th>
			</tr>
		</thead>
		<tbody>
			{% for username, join_time in all_members %}
				<tr>
					<td>{{ username | e}}</td>
					<td>{{ human_time_since(join_time) | e }}</td>
					<td>{{ loop.index }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
