/*
 * This file contains styles specific to the "join" view. The corresponding
 * HTML/template file is `views/join.html`.
 */

main {
	width: 100%;
	max-width: 500px;
	margin: 2rem auto;
}

.signup {

}

.signup__box {
	margin-bottom: 1reM;
}

.signup__label {
	font-weight: bold;
}

.signup__input {
	width: 100%;
}

textarea.signup__input {
	/* Remove UA's default monospace font */
	font-family: inherit;

	/* Horizontal resizing totally breaks our layout :( */
	resize: vertical;
}

.signup__submit {
	/* Horizontally center the element */
	display: block;
	margin-inline: auto;

	/* Make it look dark and twisted */
	background-color: #6e1818;
	color: white;
	border: none;
	border-radius: 500px;
	padding: 1rem;
	font-size: large;
}

/* The usual dimming effect makes interaction feel more tactile */
.signup__submit:hover { filter: brightness(90%); }
.signup__submit:active { filter: brightness(60%); }