.leaderboard {
    width: 80%;
    margin: 0 auto;
}

.leaderboard thead {
    background-color: #6e1818;
    text-align: left;
}

.leaderboard tr {
    height: 50px;
}

.leaderboard td {
    background-color: #1c1c1c;
}

.leaderboard td, .leaderboard th {
    padding: 1rem;
}

.intro {
    text-align: center;
    margin-block: 3rem;
}
